<app-navbar-administrator></app-navbar-administrator>
<div class="container">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="cuad-1"></div>
  <div class="triangle"></div>
  <div class="contenedor_izquierda">
    <img
      src="../../../assets/svg//undraw_approve_qwp7.svg"
      alt=""
      class="contenido-imagen-about"
    />
    <div class="row" *ngIf="admin !== undefined">
      <div class="center-content">
        <h2><span>ADMINISTRADOR</span></h2>
        <h2>{{ admin[0].name }} {{ admin[0].lastName }}</h2>
      </div>
    </div>
    <div class="content_btn">
      <div>
        <button
          [routerLink]="['/administrator', id_a]"
          class="btn btn_regresar"
        >
          <i class="fas fa-arrow-left"></i> Regresar
        </button>
      </div>

      <div>
        <a [href]="pdfUrl" download="Estudiantes_denegados">
          <button class="btn btn_denegado">
            <i class="fas fa-times-circle"></i> Denegados
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="contenedor_derecha">
    <div class="card">
      <div class="card-body">
        <h3 class="mt-3">{{ accion }} Estudiante</h3>
        <div class="container2">
          <form
            class="ro"
            [formGroup]="addStudent"
            (ngSubmit)="addEditStudent()"
          >
            <div class="fila">
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text">
                    <i
                      class="fa-solid fa-user"
                      [class.green-icon]="this.addStudent.get('name')?.valid"
                      [class.red-icon]="
                        addStudent.get('name')?.invalid &&
                        addStudent.get('name')?.touched
                      "
                    >
                    </i
                  ></span>
                  <input
                    pattern="^[a-zA-ZÀ-ÖØ-öø-ÿ]+\.?(( |\-)[a-zA-ZÀ-ÖØ-öø-ÿ]+\.?)*$"
                    formControlName="name"
                    type="text"
                    class="form-control"
                    placeholder="Nombres"
                    aria-label="Nombres"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text">
                    <i
                      class="fa-solid fa-user"
                      [class.green-icon]="
                        this.addStudent.get('lastName')?.valid
                      "
                      [class.red-icon]="
                        addStudent.get('lastName')?.invalid &&
                        addStudent.get('lastName')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    pattern="^[a-zA-ZÀ-ÖØ-öø-ÿ]+\.?(( |\-)[a-zA-ZÀ-ÖØ-öø-ÿ]+\.?)*$"
                    formControlName="lastName"
                    type="text"
                    class="form-control"
                    placeholder="Apellidos"
                    aria-label="Apellidos"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
            </div>
            <div class="fila">
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-regular fa-address-card"
                      [class.green-icon]="this.addStudent.get('dni')?.valid"
                      [class.red-icon]="
                        addStudent.get('dni')?.invalid &&
                        addStudent.get('dni')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    pattern="^[0-9]{8}$"
                    maxlength="8"
                    formControlName="dni"
                    type="text"
                    class="form-control"
                    placeholder="Dni"
                    aria-label="Dni"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-phone-volume"
                      [class.green-icon]="this.addStudent.get('phone')?.valid"
                      [class.red-icon]="
                        addStudent.get('phone')?.invalid &&
                        addStudent.get('phone')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    pattern="^(9)[0-9]{8}$"
                    maxlength="9"
                    formControlName="phone"
                    type="text"
                    class="form-control"
                    placeholder="Teléfono"
                    aria-label="Telefono"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-venus-mars"
                      [class.green-icon]="this.addStudent.get('sex')?.valid"
                      [class.red-icon]="
                        addStudent.get('sex')?.invalid &&
                        addStudent.get('sex')?.touched
                      "
                    ></i
                  ></span>
                  <select formControlName="sex" class="form-control" aria-label="Sexo" aria-describedby="basic-addon1">
                    <option value="" disabled selected hidden>Género:</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="fila">
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-user-tie"
                      [class.green-icon]="this.addStudent.get('school')?.valid"
                      [class.red-icon]="
                        addStudent.get('school')?.invalid &&
                        addStudent.get('school')?.touched
                      "
                    ></i
                  ></span>
                  <select formControlName="school" class="form-control" aria-label="school" aria-describedby="basic-addon1">
                    <option value="" disabled selected hidden>Escuela Académica profesional:</option>
                    <option value="Administración">Administración</option>
                    <option value="Ingeniería de Minas">Ingeniería de Minas</option>
                    <option value="Ciencia Política y Gobernabilidad">Ciencia Política y Gobernabilidad</option>
                    <option value="Ingeniería Agroindustrial">Ingeniería Agroindustrial</option>
                    <option value="Ingeniería Civil">Ingeniería Civil</option>
                    <option value="Ingeniería Informática y Sistemas">Ingeniería Informática y Sistemas</option>
                    <option value="Ingeniería Agroecológica  y Desarollo Rural">Ingeniería Agroecológica  y Desarollo Rural</option>
                    <option value="Educación Inicial intercultural y bilingue 1ra y 2da infancia">Educación Inicial intercultural y bilingue 1ra y 2da infancia</option>
                    <option value="Medicina Veterinaria y zootécnia">Medicina Veterinaria y zootécnia</option>
                  </select>
                </div>
              </div>
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-graduation-cap"
                      [class.green-icon]="this.addStudent.get('faculty')?.valid"
                      [class.red-icon]="
                        addStudent.get('faculty')?.invalid &&
                        addStudent.get('faculty')?.touched
                      "
                    ></i
                  ></span>
                  <select formControlName="faculty" class="form-control" aria-label="faculty" aria-describedby="basic-addon1">
                    <option value="" disabled selected hidden>Facultad:</option>
                    <option value="Ingeniería">Ingeniería</option>
                    <option value="Administración">Administración</option>
                    <option value="Educación y Ciencias sociales">Educación y Ciencias sociales</option>
                    <option value="Medicina Veterinaria">Medicina Veterinaria</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="fila">
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-code-compare"
                      [class.green-icon]="this.addStudent.get('code')?.valid"
                      [class.red-icon]="
                        addStudent.get('code')?.invalid &&
                        addStudent.get('code')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    pattern="^[0-9]{6}$"
                    maxlength="6"
                    formControlName="code"
                    type="text"
                    class="form-control"
                    placeholder="Código"
                    aria-label="Codigo"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-sharp fa-solid fa-location-dot"
                      [class.green-icon]="this.addStudent.get('address')?.valid"
                      [class.red-icon]="
                        addStudent.get('address')?.invalid &&
                        addStudent.get('address')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    pattern="^([0-9Ñña-zA-ZÁ-Úá-ú-/:°,]{1,30}\.?)((((\s|\-)[0-9Ñña-zA-ZÁ-Úá-ú-/:°,]{1,30})?)*)$"
                    formControlName="address"
                    type="text"
                    class="form-control"
                    placeholder="Dirección"
                    aria-label="Direccion"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
            </div>
            <div class="fila">
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-circle-dollar-to-slot"
                      [class.green-icon]="
                        this.addStudent.get('condition')?.valid
                      "
                      [class.red-icon]="
                        addStudent.get('condition')?.invalid &&
                        addStudent.get('condition')?.touched
                      "
                    ></i
                  ></span>
                  <select formControlName="condition" class="form-control" aria-label="condition" aria-describedby="basic-addon1">
                    <option value="" disabled selected hidden>Condición Socioeconómica:</option>
                    <option value="false">Pobre</option>
                    <option value="true">No Pobre</option>
                  </select>
                </div>
              </div>
              <div class="input_label">
                <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text"
                    ><i
                      class="fa-solid fa-crutch"
                      [class.green-icon]="
                        this.addStudent.get('disability')?.valid
                      "
                      [class.red-icon]="
                        addStudent.get('disability')?.invalid &&
                        addStudent.get('disability')?.touched
                      "
                    ></i
                  ></span>
                  <select formControlName="disability" class="form-control" aria-label="disability" aria-describedby="basic-addon1">
                    <option value="" disabled selected hidden>Discapacidad:</option>
                    <option value="true">Discapacitado</option>
                    <option value="false">Sin Discapacidad</option>
                  </select>
                </div>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="addStudent.invalid"
              class="btn btn-primary float-end"
            >
              Aceptar
            </button>
            <button
              type="button "
              [routerLink]="'/administrator/' + id_a + '/getall'"
              class="btn btn-secondary"
            >
              Lista de estudiantes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
