<div class="headee">
  <div class="contenedor-nav">
    <div class="logo">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3884/3884611.png"
        alt="LOGO"
      />
      <h3>UNAMBA 2023-I</h3>
    </div>
    <div class="header_enlaces">
      <div class="contenedor-icono">
        <a
          routerLink="/getall"
          href="https://mail.google.com/mail/u/1/#inbox"
          target="_blank"
          class="gmail"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/95/95645.png"
            alt=""
          />
        </a>
      </div>

      <div class="contenedor-icono">
        <a href="#" target="_blank" class="facebook">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3602/3602123.png"
            alt=""
          />
        </a>
      </div>

      <div class="contenedor-icono">
        <a href="index.html" class="instagram">
          <img
            src="https://cdn-icons-png.flaticon.com/512/660/660350.png"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
