<app-navbar></app-navbar>
<main>
  <section class="c-exterior">
    <div class="circle-1"></div><div class="circle-2"></div><div class="circle-3"></div><div class="cuad-1"></div><div class="triangle"></div>
    <form class="container">
      <div class="contenedor_izquierda">
        <h2>MÉTODOS DE PAGO</h2>
        <div class="cont-yape">
          <h3>Número de yape</h3>
          <div class="yape-info">
            <i class="fas fa-phone"></i>
            <span>+51 983 805 438</span>
          </div>
        </div>

        <div class="cont-qr">
          <div>
            <img src="../../../assets/img/Group 1.png" alt="" />
          </div>
          <div>
            <img
              src="../../../assets/svg/undraw_stripe_payments_re_chlm.svg"
              alt="Pinguino saludando"
            />
          </div>
        </div>

        <div class="cont-yape">
          <h3>Depósito a cuenta bancaria</h3>
          <div class="yape-info">
            <i class="fa-solid fa-credit-card"></i>
            <span>200 40 50 80 8786</span>
          </div>
        </div>
      </div>
      <div class="contenedor_derecha">
        <h2>Resumen</h2>
        <div class="row">
          <i class="fa-solid fa-utensils"></i>
          <h3>Compra de ticket para el comedor</h3>
        </div>
        <fieldset>
          <legend>Pago a realizar</legend>
          <div *ngFor="let product of listProduct">
            <input
              type="checkbox"
              id=""
              name="option"
              value="{{ product.price }}"
              (change)="onCheckboxChange($event)"
            />
            <label for="">{{ product.name }} S./{{ product.price }}</label>
          </div>
        </fieldset>
        <br />
        <div *ngIf="student !== undefined">
          <div class="padd">
            <label style="margin-right: 20px; font-weight: bold"
              >Estudiante:
            </label>
            <label for="estudiante">
              {{ student[0].name | titlecase }}
              {{ student[0].lastName | titlecase }}</label
            >
          </div>
          <div class="padd">
            <label style="margin-right: 45px; font-weight: bold"
              >Codigo:
            </label>
            <label for="codigo"> {{ student[0].code }}</label>
          </div>
        </div>
        <hr />
        <div *ngIf="periodo !== undefined" class="date">
          <div class="date-init">
            <label for="fInicio">Fecha inicio: </label>
            <p>{{ periodo[0].startDate | date : "yyyy-MM-dd" }}</p>
          </div>
          <div class="date-end">
            <label for="fFin">Fecha fin: </label>
            <p>{{ periodo[0].endDate | date : "yyyy-MM-dd" }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="lblprice">
            <label>TOTAL: </label>
          </div>
          <div class="price">
            <label for="estudiante">{{ total }}</label>
          </div>
        </div>
        <div class="row">
          <div class="archivo">
            <label for="fileInput" class="file-label">Subir Archivo</label>
            <input
              type="file"
              id="fileInput"
              accept="image/png, image/jpeg"
              (change)="handleFileInput($event)"
            />
          </div>

          <div *ngIf="student !== undefined">
            <button
              class="btn_ btn-yellow"
              (click)="buy()"
              type="submit"
              [disabled]="total == 0 || !selectedFile || saleStateHelp === true"
            >
              Enviar
            </button>
          </div>
        </div>
        <div *ngIf="saleStateHelp === true">
          <p class="compra_realizada">
            Usted ya realizo la compra, por favor verifique su voucher
          </p>
          <button class="btn_imp" (click)="ticket()">
            <i class="fas fa-print"></i> IMPRIMIR
          </button>
        </div>
      </div>
    </form>
  </section>
</main>
