<div class="boddy">
  <div class="hexagon">
    <div class="log">
    <img src="img/Logo.png" alt="">
    </div>
    <h2>Cambiar contraseña</h2>
    <div class="contenedor__login-register">
        <form action="POST" class="formulario__login">
                <div class="inp2">
                    <span class="icon-pass"></span>
                    <input type="text" placeholder="Contraseña actual">
                </div>
                <div class="inp">
                    <span class="icon-pass2"></span>
                    <input type="password" placeholder="Nueva contraseña">
                </div>
                <div class="inp">
                    <span class="icon-pass2"></span>
                    <input type="password" placeholder="Repetir contraseña">
                </div>
                <div class="butt">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"  href="">Cambiar constraseña</a>
                </div>
        </form>
    </div>
  </div>
</div>
