.boddy{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;

}
/*--------------Exagono--------------------*/
.hexagon{
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 420px;
  height: 380px;
  background-color: rgb(85, 169, 178);
  border-radius: 20px;
  z-index: 2;

}

/*Titulo registro*/
h2{
  margin-top: 35px;
  color: #ffffff;
  opacity: none;
  z-index: 1;
  Font-style: 900;
  Font-size: 30px;
  Line-height: 72px;
  Line-height: 100%;

}
/*Contenedor login registro*/
.contenedor__login-register{
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-left: 67px;

}
/*contenedor Inputs*/
.contenedor__login-register form input{
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  outline: none;
  width: 80%;

}
/*contenedor input y logo*/
.inp2{
  width: 105%;

  border-radius: 10px;
  box-shadow: 1px 3px 10px rgba(54, 53, 53, 0.5);
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #ffffff;
  margin-bottom: 35px;
}
/*contenedor input y logo*/
.inp{

  width: 105%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(54, 53, 53, 0.5);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #ffffff;
}
.inp:hover{
  box-shadow: 0px 3px 10px rgba(16, 15, 15, 0.585);
}

/*logo password*/
.icon-pass{
  background-image: url('https://cdn-icons-png.flaticon.com/512/565/565655.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-left: 10px;

}
/*logo password 2*/
.icon-pass2{
  background-image: url('https://cdn-icons-png.flaticon.com/512/6372/6372424.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-left: 10px;
}


/*Button*/
.butt{

  width: 250px;
  height: 50px;
  margin-left: 25px;
  border: none;
  font-size: 20px;
  background: #116C80;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  outline: none;
  padding-top: 7px;
  margin-top: 22px;
}
.contenedor__login-register form .butt a{
  text-decoration: none;
}

.contenedor__login-register form .butt:hover{
  box-shadow: inset 0 0 20px rgba(110, 154, 172, 0.5), 0 0 20px rgba(141, 160, 168, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
}
/*Enlace cambiar contraseña*/
.hexagon a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.hexagon a:hover{
  text-decoration:underline;
}
/*logo*/
.log{
  position: absolute;
  left: 135px;
  top: -90px;
  z-index: 1;
}
.log img{
  height: 140px;
}

