<app-navbar></app-navbar>

<div class="container">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="cuad-1"></div>
  <div class="triangle"></div>
  <div class="contenedor_izquierda">
    <img
      src="../../../assets/svg/undraw_certification_re_ifll.svg"
      alt=""
      class="contenido-imagen-about"
    />
    <div *ngIf="admin !== undefined">
      <h2>{{ admin[0].name }} {{ admin[0].lastName }}</h2>
    </div>
    <div class="content_btn">
      <div>
        <button
          [routerLink]="['/administrator', id]"
          class="btn btn_regresar"
        >
          <i class="fas fa-arrow-left"></i> Regresar
        </button>
      </div>

      <div>
        <button
          [routerLink]="['/administrator', id, 'denegados']"
          class="btn btn_denegado"
        >
          <i class="fas fa-times-circle"></i> Denegados
        </button>
      </div>
    </div>

  </div>

  <div class="contenedor_derecha">

    <div class="content_list">
      <div class="card-body">
        <h3><i class="fas fa-users"></i> Listado de Estudiantes</h3>
        <button [routerLink]="'/administrator/' + id + '/insert'" class="btn btn-primary float-end">
          Nuevo Registro
        </button>
        <div class="table-container">
        <table *ngIf="listStudent.length > 0" class="table table-hover mt-3">
          <thead>
            <tr>
              <th class="bol">DNI</th>
              <th class="bol">NOMBRES Y APELLIDOS</th>
              <th class="bol">ESCUELA</th>
              <th class="bol">FACULTAD</th>
              <th class="bol">TELÉFONO</th>
              <th class="bol">SEXO</th>
              <th class="bol">CÓDIGO</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of listStudent">
              <td>
                <a [routerLink]="['/see', student.idStudent]"
                  >{{ student.dni }}
                </a>
              </td>
              <td>
                {{ student.name | titlecase }}
                {{ student.lastName | titlecase }}
              </td>
              <td>{{ student.school | titlecase }}</td>
              <td>{{ student.faculty | titlecase }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.sex | titlecase }}</td>
              <td>{{ student.code }}</td>
              <td>
                <i
                  [routerLink]="['/update', student.idStudent]"
                  class="far fa-solid fa-pen-to-square text-info"
                ></i>
              </td>
              <td>
                <i
                  (click)="deleteStudent(student.idStudent)"
                  class="far fa-solid fa-trash-can text-danger"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div *ngIf="listStudent.length == 0" class="row mt-5">
        <h5>No hay Estudiantes por mostrar.</h5>
      </div>
    </div>
  </div>
</div>
