<app-navbar></app-navbar>
<div class="row mt -4">
  <div class="col-lg-2">
    <div class="contenedor_izquierda">
      <img
        src="https://cdn-icons-png.flaticon.com/512/78/78948.png"
        alt=""
        class="contenido-imagen-about"
      />
      <h2 class="titulo">ADMINISTRADOR</h2>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="card">
      <button [routerLink]="['/administrator','3fb8ce38-50b9-4ca8-873e-bbb0c5f4d196']" class="btn btn-secondary">Admin</button>
      <div class="card-body">
        <h3>Listado de Estudiantes</h3>
        <button routerLink="/insert" class="btn btn-primary float-end">
          Nuevo Registro
        </button>
        <table *ngIf="listStudent.length > 0" class="table table-hover mt-3">
          <thead>
            <tr>
              <th class="bol">DNI</th>
              <th class="bol">NOMBRES Y APELLIDOS</th>
              <th class="bol">ESCUELA</th>
              <th class="bol">FACULTAD</th>
              <th class="bol">TELÉFONO</th>
              <th class="bol">SEXO</th>
              <th class="bol">CÓDIGO</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of listStudent">
              <td>
                <a [routerLink]="['/see', student.idStudent]"
                  >{{ student.dni }}
                </a>
              </td>
              <td>
                {{ student.name | titlecase }}
                {{ student.lastName | titlecase }}
              </td>
              <td>{{ student.school | titlecase }}</td>
              <td>{{ student.faculty | titlecase }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.sex | titlecase }}</td>
              <td>{{ student.code }}</td>
              <td>
                <i
                  [routerLink]="['/update', student.idStudent]"
                  class="far fa-solid fa-pen-to-square text-info"
                ></i>
              </td>
              <td>
                <i
                  (click)="deleteStudent(student.idStudent)"
                  class="far fa-solid fa-trash-can text-danger"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="listStudent.length == 0" class="row mt-5">
        <h5>No hay Estudiantes por mostrar.</h5>
      </div>
    </div>
  </div>
</div>
