body {
  margin: 0;
}

html {
  font-size: 62.5%;
}
/******************** DESIGN ***************************/

.circle-1,
.circle-2,
.circle-3,
.cuad-1 {
  position: fixed;
}

.circle-1 {
  top: -10.5rem;
  left: 70%;
  width: 38.4rem;
  height: 38.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}

.circle-2 {
  position: absolute;
  top: -7.2rem;
  left: 30%;
  background-color: #ffffff;
  width: 15.4rem;
  height: 15.4rem;
  border-radius: 50%;
  z-index: -1;
}
.circle-3 {
  position: fixed;
  bottom: -15rem;
  left: 50%;
  background-color: #ffffff;
  width: 25.4rem;
  height: 25.4rem;
  border-radius: 50%;
  z-index: -1;
}
.cuad-1 {
  position: fixed;
  top: 75%;
  left: 6%;
  width: 12.9rem;
  height: 12.9rem;
  background-color: #ffffff;
  transform: rotate(45deg);
  z-index: -1;
}

/******************** CONTAINERS ***************************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.contenedor_izquierda img {
  height: 18rem;
  width: 18.8rem;
  margin-bottom: 1rem;
}
/******************** LEFT ***************************/

.contenedor_izquierda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  width: 30%;
}

.button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.open-btn {
  background-color: var(---green-color);
  color: #fff;
  width: 12rem;
  border: 1px solid var(---green-color);
}

.open-btn:disabled,
.close-btn:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
  color: rgb(174, 170, 170);
}

.close-btn {
  background-color: var(---red-color);
  color: #fff;
  width: 12rem;
  border: 1px solid var(---red-color);
}
/******************** BTN *************/
.contenedor_izquierda .content_btn {
  display: flex;
  flex-direction: column;
  background-color: var(---primary-color);
  height: 9rem;
  width: 80%;
  margin-top: 1.4rem;
  border-radius: 0.4rem;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.button i {
  margin-right: 0.5rem;
}
h2 {
  margin: 0;
}
h2 span {
  text-align: center;
  font-weight: bold;
}
.center-content {
  text-align: center;
  margin: auto;
}
/******************** LEFT ***************************/

.contenedor_derecha {
  background: #ffffff;
  height: 80%;
  width: 70%;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  border: 0.1rem solid #b5edf2;
}

/********* CONTENT BUTTONS *********/
.container_list {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 20px;
}
.btn_list {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 0.3rem;
}

.btn-primary {
  background-color: var(---blue-color);
  color: #fff;
  cursor: pointer;
}
.btn-primary1 {
  background-color: #6C63FF;
  color: #fff;
  cursor: pointer;
}
.btn_list1 {
  margin-top: 10px;
  padding: 6px 15px;
  font-size: 16px;
  border: none;
  border-radius: 0.3rem;
}
.btn-primary1:disabled,
.btn_list1:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
  color: rgb(174, 170, 170);
}
.btn-info {
  background-color: var(---green-blue-color);
  color: #fff;
  cursor: pointer;
}

.btn-success {
  background-color: var(---green-color);
  color: #fff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.button:hover {
  opacity: 0.9;
}

.btn-info:hover {
  background-color: #0c5c67;
}

.btn-success:hover {
  background-color: #0f6555;
}
.btn-success:disabled {
  background-color: #6c757d;
  color: #fff;
  cursor: not-allowed;
}
.stock {
  margin-left: auto;
}

.stock input {
  width: 28px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  height: 28px;
}
h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/************* TABLA ****************/

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

i {
  cursor: pointer;
  margin: 0 5px;
}

.row {
  margin-top: 20px;
}

h3 {
  margin-bottom: 10px;
}

h5 {
  color: #888;
}

a {
  color: var(---blue-color);
  text-decoration: none;
}

.text-success {
  color: var(---green-color);
}
.text-danger {
  color: var(---red-color);
}.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-left,
.form-right {
  width: 48%;
}

.form-left form,
.form-right {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.form-left label,
.form-right label {
  display: block;
  margin-bottom: 5px;
}

.date-inputs {
  display: flex;
  gap: 10px;
}

.date-inputs label {
  margin: 0 5px 0 0;
}

.form-left input,
.form-right input {
  width: 95.8%;
  padding: 8px;
  margin-bottom: 6px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: .5rem;
}
