<app-navbar-administrator></app-navbar-administrator>
<div class="container">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="cuad-1"></div>
  <div class="triangle"></div>
  <div class="contenedor_izquierda">
    <img
      src="../../../assets/svg/undraw_pic_profile_re_7g2h.svg"
      alt=""
      class="contenido-imagen-about"
    />
    <div class="row" *ngIf="admin !== undefined">
      <div class="center-content">
        <h2><span>ADMINISTRADOR</span></h2>
        <h2>{{ admin[0].name }} {{ admin[0].lastName }}</h2>
      </div>
    </div>

    <div class="content_btn">
      <div *ngIf="opening !== undefined">
        <button
          (click)="updateStateApertura()"
          [disabled]="opening[0].openState == true"
          type="button"
          class="button open-btn"
        >
          <i class="fas fa-door-open"></i> APERTURA
        </button>
      </div>

      <div *ngIf="opening !== undefined">
        <button
          (click)="updateStateCierre()"
          [disabled]="opening[0].openState == false"
          type="button"
          class="button close-btn"
        >
          <i class="fas fa-door-closed"></i> CIERRE
        </button>
      </div>
    </div>
  </div>
  <div class="contenedor_derecha">
    <h2>Semestre y cantidad de ticket.</h2>
    <div class="form-container">
      <div class="form-left">
        <form [formGroup]="addPeriod" (ngSubmit)="postPeriodo()">
          <label for="semestre">Semestre:</label>
          <input
            class="form-control"
            formControlName="name"
            type="text"
            id="semestre"
            name="semestre"
          />

          <div class="date-inputs">
            <label for="fecha-inicial">Fecha Inicial:</label>
            <input
              class="form-control"
              formControlName="startDate"
              type="text"
              id="fecha-inicial"
              name="fecha-inicial"
            />

            <label for="fecha-final">Fecha Final:</label>
            <input
              class="form-control"
              formControlName="endDate"
              type="text"
              id="fecha-final"
              name="fecha-final"
            />
          </div>
          <div *ngIf="opening !== undefined">
          <button
            type="submit"
            [disabled]="addPeriod.invalid || opening[0].openState == false || opening[0].openState == true"
            class="btn_list1 btn-primary1"
          >
            Enviar
          </button></div>
        </form>
      </div>

      <div class="form-right">
        <form [formGroup]="addOpening" (ngSubmit)="postOpening()">
          <div *ngIf="opening !== undefined">
            <div
              class="date-inputs"
              *ngIf="
                opening[0].openState == false || opening[0].openState == true
              "
            >
              <label for="cantidad">Cantidad:</label>
              <input formControlName="quantity" type="text" id="cantidad" name="cantidad" />

              <label for="cantidad-prioritaria">Cantidad Prioritaria:</label>
              <input
              formControlName="priorityQuantity"
                type="text"
                id="cantidad-prioritaria"
                name="cantidad-prioritaria"
              />
            </div>
            <button
              type="submit"
              [disabled]="addPeriod.invalid || opening[0].openState == false || opening[0].openState == true"
              class="btn_list1 btn-primary1"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="content_list">
      <div class="container_list">
        <div class="buttons">
          <button
            [routerLink]="'/administrator/' + id + '/listComedor'"
            type="button"
            class="btn_list btn-primary"
          >
            <i class="fas fa-utensils"></i> Estudiantes con comedor
          </button>

          <button
            type="button"
            [routerLink]="'/administrator/' + id + '/getall'"
            class="btn_list btn-info"
          >
            <i class="fas fa-list"></i> Listar Estudiantes
          </button>
          <button
            type="button"
            [routerLink]="'/administrator/' + id + '/insert'"
            class="btn_list btn-success"
          >
            <i class="fas fa-user-plus"></i> Registar estudiante
          </button>
        </div>
        <div class="stock">
          <input
            type="text"
            class="float-end"
            [value]="inputValue"
            [disabled]="true"
            [(ngModel)]="inputValue"
          />
        </div>
      </div>
      <h3>Lista recibo de voucher</h3>
      <table *ngIf="listSaleDetail.length > 0" class="table table-hover mt-3">
        <thead>
          <tr>
            <th class="bol">VOUCHER</th>
            <th class="bol">NOMBRES Y APELLIDOS</th>
            <th class="bol">CÓDIGO</th>
            <th class="bol">ESCUELA PROFESIONAL</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let venta of listSaleDetail">
            <tr *ngIf="venta.saleState == 1">
              <td>
                <a
                  href="#"
                  (click)="openImageDialog($event, venta.couponImg)"
                  >{{ "YAPE: VOUCHER" }}</a
                >
              </td>
              <td>{{ venta.names }}</td>
              <td>{{ venta.code }}</td>
              <td>{{ venta.school }}</td>
              <td>
                <i
                  (click)="admitirSale(venta.idSale)"
                  class="fa-solid fa-square-check text-success far"
                ></i>
              </td>
              <td>
                <i
                  (click)="deleteSale(venta.idSale)"
                  class="fa-sharp fa-solid fa-square-xmark text-danger far"
                ></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="listSaleDetail.length == 0" class="row mt-5">
      <h5>No hay Estudiantes por mostrar.</h5>
    </div>
  </div>
</div>
