@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Montserrat&display=swap');
:root{
  ---primry-color: #042354;
  ---secondary-color: #F2C33E;
  ---tertiary-color: #166BF3;
  ---background-color: #ffffff;
  ---foreground-color: #010813;
  ---color-gray: #721b1b;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 62.5%;
}

.arito1{
  position: absolute;
  top: -10.5rem;
  left: 80%;
  width: 28.4rem;
  height: 28.4rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.475);
  z-index: 2;
}

.arito2{
  position: absolute;
  top: -5.2rem;
  left: 20%;
  background-color: #ffffff;
  opacity: 0.2;
  width: 10.4rem;
  height: 10.4rem;
  border-radius: 50%;
}

.arito3{
  position: absolute;
  bottom: -15rem;
  left: 50%;
  width: 20.9rem;
  height: 20.9rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.475);
}

/*Cuerpo principal*/
.boddy {
  background-image: linear-gradient(to left bottom, #010813, #051223, #031833, #011e43, #042354);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
/*EXAGONO ---- corrección -> se escribe con "h"*/
.form_card {
  background-color: var(---background-color);
  color: var(---foreground-color);
  margin-right: 10rem;
  text-align: center;
  width: 25rem;
  height: 33rem;
  border-radius: 0px;
  z-index: 3;
  max-width: 600px;
  border-radius: 1.7rem;
  font-weight: 700;
  overflow: hidden;
}

/*Logo encabezado*/
img {
  width: 100%;
  height: 14rem;
  color: #116c80;
}

/*Titulo registro*/
.card-text{
  margin-top: -1.6rem;
  width: 70%;
  height: 3rem;
  background-color: #F2C33E;
  margin-bottom: 3rem;
  align-self: center;
  z-index: 2;
}

.card-text h2 {
  color: var(---foreground-color);
  font-size: 3.5rem;
  padding-bottom: 25px;
  font-weight: 500;
}

/*fila*/
.row{
  /*background-color: brown;*/
  margin-bottom: 1rem;
}

/*Contenedor boton*/
.bb {
  width: 10rem;
  height: 3.0rem;
  border: none;
  font-size: 1.5rem;
  background: var(---primry-color);
  cursor: pointer;
  border-radius: 10px;
  color: var(---background-color);
}
/*Boton hover*/
.bb:hover {
  background-color: var(---tertiary-color);
}

/*para los inputs*/
.form-control{
  height: 1.8rem;
  width: 13rem;
  border-radius: 5px;
  border: 1px solid var(---color-gray);
}

.form-control:focus{
  outline: 1px solid var(---tertiary-color);
}

/*div cambiar contraseña*/
.cambiar_contra {
  margin-top: 2rem;

}

.cambiar_contra a{
  color: var(---foreground-color);
}
/*clases de ayuda*/
.red-icon{
  color: rgb(241, 38, 38);
}
.green-icon{
  color: var(---primry-color);
}
