
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root{
  ---primary-color: #042354;
  ---secondary-color: #F2C33E;
  ---tertiary-color: #164a7c;

  ---red-color: #C63346;
  ---green-color: #30a390;;
  ---purple-color: #6C63FF;
  ---green-blue-color: #176E7A;
  ---blue-color:  #2985CB;

  ---background-color: #f3f3f3;
  ---foreground-color: #010813;
  ---color-gray: #dfe1e8;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(---background-color);
  color: var(---foreground-color);
}

.image-dialog-container {
  background: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
