
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  ---primary-color: #042354;
  ---secondary-color: #F2C33E;
  ---extra-color: #3F656E;
  ---tertiary-color: #164a7c;
  ---background-color: #f3f3f3;
  ---foreground-color: #010813;
  ---color-gray: #dfe1e8;
  ---color-b1: #f8fafb;
  ---color-b2: #EFF6FF;
  ---color-b3:#F0F1F3;

}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(---background-color);
  color: var(---foreground-color);
}

.image-dialog-container {
  background: none;
}
