<app-navbar></app-navbar>
  <section class="container">
    <div class="circle-1"></div><div class="circle-2"></div><div class="circle-3"></div><div class="cuad-1"></div><div class="triangle"></div>
    <div class="contenedor_izquierda">
      <div class="cont-perfil">
        <div *ngIf="student">
          <img
            [src]="
              student[0].profileImg ||
              'https://img.freepik.com/vector-gratis/lindo-astronauta-que-trabaja-ilustracion-icono-vector-dibujos-animados-computadora-ciencia-tecnologia-icono-concepto-aislado-premium-vector-estilo-dibujos-animados-plana_138676-4172.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1699574400&semt=ais'
            "
            alt="Perfil"
            class="contenido-imagen-about"
          />
        </div>
        <label for="upload-btn" class="upload-btn-label">
          <input
            type="file"
            id="upload-btn"
            accept="image/png, image/jpeg"
            (change)="handleFileInput($event)"
          />
          <i class="fas fa-pencil-alt"></i>
        </label>
      </div>
      <div *ngIf="student !== undefined" class="cont-title">
        <h2 class="title">
          {{ student[0].name | titlecase }}
          {{ student[0].lastName | titlecase }}
        </h2>
      </div>
      <div class="content_btn">
        <div class="button">
          <a href="">
            <i class="fas fa-list"></i> Listado
          </a>
        </div>
        <div class="button">
          <a href="">
            <i class="fas fa-history"></i> Historial
          </a>
        </div>
      </div>
    </div>
    <div class="contenedor_derecha">
      <div *ngIf="period !== undefined">
        <h2>COMEDOR UNAMBA - {{ period[0].name }}</h2>
      </div>
      <h3>Condición socio - económica</h3>
      <p>Limitaciones financieras individuales u alojamiento, alimentación precarios y la falta de acceso a recursos básicos para el estudiantes.</p>
      <div *ngIf="student !== undefined" class="btn_global">
        {{ student[0].condition === false ? "No pobre" : "Pobre" }}
      </div>
      <hr /> 
      <h3>Condición de discapacidad</h3>
      <p>Limitaciones asociadas a la salud y habilidades físicas o mentales. Esto puede incluir barreras de accesibilidad, falta de apoyo especializado..</p>
      <div *ngIf="student !== undefined" class="btn_global">
        {{ student[0].disability === true ? "Discapacitado" : "Sin discapacidad" }}
      </div>
      <hr /> 
      <h3>Condicion FINAL</h3>
      <p>Verificación de ambas condiciones de discapacidad y socio económica, validación de datos.</p>
      <div *ngIf="student !== undefined" class="btn_condicionFinal">
        {{ student[0].studentState == true ? "No apto" : "Apto" }}
      </div>
      <hr /> 
      <div class="align-rigth " style="text-align: right;" *ngIf="opening !== undefined">
        <div *ngIf="student !== undefined">
          <button
            (click)="onButtonClick()"
            [disabled]="student[0].studentState == true"
            class="float-end button-next"
          >
            Siguiente
          </button>
        </div>
      </div>
      
    </div>
  </section>

